apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ha
  namespace: web-apps
  labels:
    app: nginx-ha
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-ha
  template:
    metadata:
      labels:
        app: nginx-ha
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "200m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
