# Default values for nginx-ha.
replicaCount: 2

image:
  repository: nginx
  pullPolicy: Always
  tag: "latest"

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 200m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
